USE [master]
GO
USE [Tp-Personajes]
GO
/****** Object:  Table [dbo].[PeliSerie]    Script Date: 27/4/2023 10:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaSerie](
	[IdPeliculaSerie] [int] NOT NULL,
	[Imagen] [varchar](1000) NOT NULL,
	[Titulo] [varchar](50) NOT NULL,
	[FechaCreacion] [date] NOT NULL,
	[Calificacion] [int] NOT NULL,
	[PersonajesAsociados] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PeliSerie] PRIMARY KEY CLUSTERED 
(
	[IdPeliculaSerie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PelixPersonaje]    Script Date: 27/4/2023 10:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PeliculaxPersonaje](
	[IdPersonaje] [int] NOT NULL,
	[IdPeliculaSerie] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personaje]    Script Date: 27/4/2023 10:13:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personaje](
	[IdPersonaje] [int] NOT NULL,
	[Imagen] [varchar](1000) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
	[Peso] [float] NOT NULL,
	[Historia] [varchar](50) NOT NULL,
	[IdPeliculaSerie] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Personaje] PRIMARY KEY CLUSTERED 
(
	[IdPersonaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PeliculaSerie] ([IdPeliculaSerie], [Imagen], [Titulo], [FechaCreacion], [Calificacion], [PersonajesAsociados]) VALUES (1, N'https://m.media-amazon.com/images/M/MV5BYmQ4YWMxYjUtNjZmYi00MDQ1LWFjMjMtNjA5ZDdiYjdiODU5XkEyXkFqcGdeQXVyMTMzNDExODE5._V1_.jpg', N'Breaking Bad', CAST(N'2006-01-01' AS Date), 2, N'1')
INSERT [dbo].[PeliculaSerie] ([IdPeliculaSerie], [Imagen], [Titulo], [FechaCreacion], [Calificacion], [PersonajesAsociados]) VALUES (2, N'https://play-lh.googleusercontent.com/iP2xCnSnKiek5Gk6lzwSjX7E7ro996ISWLfv3xFunxzYs1hnVIrWhzDY3yTH85m94hsH=w240-h480-rw', N'Ralph el demoledor', CAST(N'2015-01-01' AS Date), 4, N'2')
INSERT [dbo].[PeliculaSerie] ([IdPeliculaSerie], [Imagen], [Titulo], [FechaCreacion], [Calificacion], [PersonajesAsociados]) VALUES (3, N'https://pics.filmaffinity.com/Las_chicas_Gilmore_Serie_de_TV-418101648-large.jpg', N'Gilmore girls', CAST(N'2006-01-01' AS Date), 10, N'5')
GO
INSERT [dbo].[PeliculaxPersonaje] ([IdPersonaje], [IdPeliculaSerie]) VALUES (1, 1)
INSERT [dbo].[PeliculaxPersonaje] ([IdPersonaje], [IdPeliculaSerie]) VALUES (2, 2)
INSERT [dbo].[PeliculaxPersonaje] ([IdPersonaje], [IdPeliculaSerie]) VALUES (3, 5)
GO
INSERT [dbo].[Personaje] ([IdPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia], [IdPeliculaSerie]) VALUES (1, N'https://static.wikia.nocookie.net/breakingbad/images/5/52/BB_S5A_Jesse_Pinkman.png/revision/latest?cb=20221026171345&path-prefix=es', N'Jesse', 38, 80, N'Drogaadicto', N'breaking bad')
INSERT [dbo].[Personaje] ([IdPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia], [IdPeliculaSerie]) VALUES (2, N'https://i.pinimg.com/736x/c8/3b/85/c83b854e0f82503daa5295523e09d160.jpg', N'Penelope', 12, 47, N'Bulling', N'Ralph el demoledor')
INSERT [dbo].[Personaje] ([IdPersonaje], [Imagen], [Nombre], [Edad], [Peso], [Historia], [IdPeliculaSerie]) VALUES (3, N'https://elvertederodeideas.files.wordpress.com/2017/11/nick_wilde_zootopia.png?w=640', N'Nick', 22, 60, N'Policia', N'Zootopia')

GO
ALTER TABLE [dbo].[PeliculaxPersonaje]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaxPersonaje_PeliculaSerie] FOREIGN KEY([IdPeliserie])
REFERENCES [dbo].[PeliculaSerie] ([Id])
GO
ALTER TABLE [dbo].[PeliculaxPersonaje] CHECK CONSTRAINT [FK_PeliculaxPersonaje_PeliculaSerie]
GO
ALTER TABLE [dbo].[PeliculaxPersonaje]  WITH CHECK ADD  CONSTRAINT [FK_PeliculaxPersonaje_Personaje] FOREIGN KEY([Idpersonaje])
REFERENCES [dbo].[Personaje] ([Id])
GO
ALTER TABLE [dbo].[PeliculaxPersonaje] CHECK CONSTRAINT [FK_PeliculaxPersonaje_Personaje]
GO
USE [master]
GO
